<!DOCTYPE html>
<html>
<head>
  <title>Public Stand</title>
  <%# <link rel="stylesheet" href="assets/foundation_and_overrides.css"> %>
  <link rel="stylesheet" href="assets/normalize.css">
  <link rel="stylesheet" href="assets/effective.css">
</head>

<body class='splash'>
  <div class="container">
    <div class="headline">
      <div class="line-one">
        What if the most effective lobbyist
      </div>
      <div class="line-two">
        was you?
      </div>
    </div>

    <form class="email-form">
      <input type="text" name="email" placeholder="Your email address" class="big-input-field">
    </form>

    <table>
      <tr>
        <td class="big-number">0</td>
        <td class="big-number">1000</td>
        <td class="big-number">20</td>
      </tr>
      <tr>
        <td>times the median American has given their public rep a piece of their mind</td>
        <td>issues you could influence</td>
        <td>seconds it takes to make a difference</td>
      </tr>
    </table>
  </div>

</body>


</html>
