.row
  .column.large-12
    .left.title Organizations

  .column.large-11.large-offset-1
    .index.column
      - if current_user.organizations.empty?
        %h3
          You aren't a part of any organizations.
      - current_user.organizations.each do |organization|
        %h3= link_to organization.name, root_url(subdomain: organization.vanity_string)
        .large-10.large-offset-1= organization.description
    .column
      %h3= link_to "Create a new organization", new_organization_url
