<!DOCTYPE html>
<html>
<head>
  <title>Public Stand</title>
  <%= stylesheet_link_tag "mockups" %>
</head>

<body class='splash'>
  <div class="container-border">
    Public Stand
    <div class="container">
      <div class="headline">
        <div class="line-one">
          You have opinions. You have friends.
        </div>
        <div class="line-two">
          You are an organizer.
        </div>
      </div>

      <form class="email-form">
        <input type="text" name="email" placeholder="Your email address" class="big-input-field">
      </form>

      <div class="ending-tag">
        <p>The causes you care about need you to stand.</p>
        <p>They need your friends to stand.<p/>
        <p><span>Public Stand</span> is here to help.<p/>
      </div>

    </div>
  </div>

</body>


</html>
