<!DOCTYPE html>
<html class = "bg-image">
<head>
  <title>Public Stand</title>
  <%= stylesheet_link_tag "mockups" %>
</head>

<body class='splash'>
  <div class="container-border">
    Public Stand
    <div class="container">
      <div class="links">
        <a href="/organizer">You are an organizer</a> |
        <a href="/lobbyist">How do you change lobbying?</a> |
        <a href="/effective">Most effective lobbyist</a>
      </div>
      <div class="headline">
        Let the Public <span>Stand</span>
      </div>

      <form class="email-form">
        <input type="text" name="email" placeholder="Your email address" class="big-input-field">
      </form>

    </div>
  </div>

</body>


</html>
