<!DOCTYPE html>
<html class = "bg-image">
<head>
  <title>Public Stand</title>
  <%= stylesheet_link_tag "mockups" %>
</head>

<body>
  <div class="container-border">
    Public Stand
    <div class="container">
      <div class="headline">
        <div class="three-lines">
          <p>Your causes need you to stand.</p>
          <p>They need your friends to stand.<p/>
          <p><span>Public Stand</span> is here to help.<p/>
        </div>  
      </div>

      <form class="email-form">
        <input type="text" name="email" placeholder="Your email address" class="big-input-field">
      </form>

    </div>
  </div>

</body>


</html>
