
.row
  .large-9.columns
    %h2 Public Stand
.row{ style: 'height: 100%' }
  .large-centered.large-8.columns
    = image_tag 'norman_rockwell.jpg'
    %h3
      Stand for something.
      = link_to "Sign Up", new_authentication_path, {style: 'float: right'}
