.row{ style: 'height: 100%' }
  .large-centered.large-8.columns
    = image_tag 'norman_rockwell.jpg'
    %h3
      Stand for something.
      = link_to "Sign Up", sign_up_path, {style: 'float: right'}
