.reveal-modal.large#webrtc-instructions
  .row
    .columns.center
      .instructions
        .step-1
          %h2 This is going to be neat...
          %p
            Press
            %span “Allow”
            at the top of the screen so we can use your microphone and kick off the phone call.
          = link_to "Hang Up", '#', class: 'btn large disabled', data: {behavior: 'hangUpTrigger'}
        .step-2{hidden: 'hidden'}
          = render 'talking_points', campaign_target: @campaign.campaign_targets.first
        .step-3{hidden: 'hidden'}
          = render 'social_sharing'
#webrtc-arrow
