<div id="wysihtml5-toolbar" data-behavior="wysiwyg">
  <a class="bold" data-wysihtml5-command="bold" title="CTRL+B"></a>
  <a class="italic" data-wysihtml5-command="italic" title="CTRL+I"></a>
  <a class="link" data-wysihtml5-command="createLink"></a>
  <a class="h1" data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h1"></a>
  <a class="h2" data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h2"></a>
  <a class="unordered-list" data-wysihtml5-command="insertUnorderedList"></a>
  <a class="ordered-list" data-wysihtml5-command="insertOrderedList"></a>
  <a class="html" data-wysihtml5-action="change_view"></a>

  <div data-wysihtml5-dialog="createLink" style="display: none;">
    <label>
      Link:
      <input data-wysihtml5-dialog-field="href" value="http://">
    </label>
    <a data-wysihtml5-dialog-action="save">OK</a>&nbsp;<a data-wysihtml5-dialog-action="cancel">Cancel</a>
  </div>
</div>
