@import 'variables';

.h1{
  background-color: darkorange;
  padding: 1em;
  width: 636px;
}

.shadow {
  -moz-box-shadow:    4px 7px 20px -7px #222;
  -webkit-box-shadow: 4px 7px 20px -7px #222;
  box-shadow:         4px 7px 20px -7px #222;
}

.image-bar{
  margin: 1.5em 0 2em 0;
  width: 100%;
}

body {
  color: #4b4f4f;
}

.campaign-description {
  font-size: 1.2em;
  line-height: 1.6;
  margin-bottom: 1em;
}

.cta-banner {
  background-color: #a5b9d6;
  padding-left: 0 !important;
  padding-right: 0 !important;
  top: -7em;
  img { height: 200px; }

  .in-browser-cta {

    a {
      line-height: 4.5em;
      height: 4.5em;
      margin-bottom: 0;
      // color: darkorange;
      // font-size: 2em;
      // font-weight: 500;
    }
    p {
      background-color: #b6c6de;
      padding: 1em 0.5em 1em 0.5em;
      margin-bottom: 0;
      color: $primary-color;
    }
    .columns.tight-top {
      padding-top: 0;
    }
  }

  #or{
    font-size: 1.5em;
    padding: 0.5em;
  }

  .browser-to-mobile-cta{
    background-color: #b6c6de;
    input {
      margin-bottom: 0;
    }
    p {
      padding: 1em 0.5em 1em 0.5em;
      margin-bottom: 0;
      color: $primary-color
    }
    .button {
      margin-bottom: 0;
      line-height: 7.2em;
      height: 7.2em;
    }
  }
}

#instruction {
  .instructions {
    h3 {
      color: $secondary-color;
    }
  }
}

.image-bar {
}

#call-link {
  margin-bottom: 1em;
  padding: 1em;
  font-size: 1.2em;
}

