@import 'variables';

.h1{
  padding: 1em;
  width: 636px;
}

.shadow {
  -moz-box-shadow:    4px 7px 20px -7px #222;
  -webkit-box-shadow: 4px 7px 20px -7px #222;
  box-shadow:         4px 7px 20px -7px #222;
}

.image-bar{
  margin: 0 0 1em 0;
  width: 100%;
}

body {
  color: #4b4f4f;
}

.campaign-description {
  font-size: 1.2em;
  line-height: 1.6;
  margin-bottom: 1em;
  white-space: pre-line;
}

.script p { white-space: pre-line; }

.cta-banner.columns {
  background-color: $cta-background;
  padding-top: 200px;
  padding-left: 0 !important;
  padding-right: 0 !important;
  top: -18em;
  @media only screen and (max-width: 767px) {
    top: 0;
    padding-top: 0;
  }

  img { height: 200px; }

  .in-browser-cta {

    a {
      line-height: 4em;
      height: 4em;
      margin-bottom: 0;
      font-size: 1.2em;
    }
    p {
      background-color: #b6c6de;
      padding: 1em 0.5em 1em 0.5em;
      margin-bottom: 0;
      color: $primary-color;
    }
  }

  #or{
    font-size: 1.5em;
  }

  .browser-to-mobile-cta{
    background-color: #b6c6de;
    input {
      margin-bottom: 0;
    }
    p {
      padding: 1em 0.5em 1em 0.5em;
      margin-bottom: 0;
      color: $primary-color
    }
    .button {
      margin-bottom: 0;
      line-height: 7.2em;
      height: 7.2em;
    }
  }
  .campaign-target-info {
    margin: 1em 0 1em 0;
    p { margin-bottom: 1em}
  }
}


.twitter-preview {
  padding: 1em;
  margin: 1em;
  background-color: $light-background;
  #tweet-preview {
    margin-bottom: 1em;
  }
  #letter-count-preview {
    text-align: right;
  }
}

textarea#campaign_vanity_string { height: 55px }
textarea#campaign_description { height: 220px }

.image-bar {
}

#call-link {
  margin-bottom: 1em;
  padding: 1em;
  font-size: 1.2em;
}


#phone-call-feedback {
  #comments {
    height: 135px;
    resize: none;
  }
}

.instructions {
  font-size: 1.5em;
  font-weight: 500;
  h2 {font-size: 2em;}
  p {
    font-size: 1em;
  }
  span {
    font-weight: bold;
  }

  h3 {
    color: $secondary-color;
  }
  .step-1 {
    h2 {
      font-size: 2.2em;
    }
    input.button{
      margin-bottom: 0;
    }
  }
  .step-2 {
    h2 {
      color: $secondary-color;
    }
    h4 { font-weight: 500; }
    .script{
      h4 { font-weight: 400; }
    }
    p { text-align: left; }
  }

  .hang-up-btn {
    margin-top: 1em;
  }
}

#mobile-instructions {
  @media only screen and (min-width: 768px) {
    .step-1 {
      p {
        font-size: 1em;
      }
      #phone_call_from_number {
        margin: 0 auto 1em auto;
        text-align: center;
        width: 60%
      }
    }
    .step-2 {
      h1 {
        font-size: 16px;
      }
      h2 {
        font-size: 16px;
      }
      h4 {
        font-size: 16px;
        .script & {
          font-size: 20px;
        }
      }
      p { text-align: left; }
    }
  }
  @media only screen and (max-width: 767px) {
    width: 90%;
    margin-left: -45%;
    .step-1 {
      p {
        font-size: 18px;
      }
      #phone_call_from_number {
        margin: 0 auto 1em auto;
        text-align: center;
      }
      input {
        font-size: 14px;
        width: 80%;
      }
      .button{
        margin-top: 1em;
      }
    }
    .step-2 {
      h1 {
        font-size: 16px;
      }
      h2 {
        font-size: 16px;
      }
      h4 {
        font-size: 16px;
        .script & {
          font-size: 20px;
        }
      }
    }
  }
}
