@font-face {
  font-family: 'clearsans';    
  src: url('/assets/EOT/ClearSans-Thin.eot');
  src: url('/assets/EOT/ClearSans-Thin.eot?#iefix') format('embedded-opentype'),
  	font-url('/assets/WOFF/ClearSans-Thin.woff') format('woff'),
  	font-url('/assets/TTF/ClearSans-Thin.ttf') format('truetype'),
  	font-url('/assets/SVG/ClearSans-Thin.svg') format('svg');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'clearsans';    
  src: url('/assets/EOT/ClearSans-Light.eot');
  src: url('/assets/EOT/ClearSans-Light.eot?#iefix') format('embedded-opentype'),
  	font-url('/assets/WOFF/ClearSans-Light.woff') format('woff'),
  	font-url('/assets/TTF/ClearSans-Light.ttf') format('truetype'),
  	font-url('/assets/SVG/ClearSans-Light.svg') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'clearsans';    
  src: url('/assets/EOT/ClearSans-Regular.eot');
  src: url('/assets/EOT/ClearSans-Regular.eot?#iefix') format('embedded-opentype'),
  	font-url('/assets/WOFF/ClearSans-Regular.woff') format('woff'),
  	font-url('/assets/TTF/ClearSans-Regular.ttf') format('truetype'),
  	font-url('/assets/SVG/ClearSans-Regular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'clearsans';    
  src: url('/assets/EOT/ClearSans-Medium.eot');
  src: url('/assets/EOT/ClearSans-Medium.eot?#iefix') format('embedded-opentype'),
  	font-url('/assets/WOFF/ClearSans-Medium.woff') format('woff'),
  	font-url('/assets/TTF/ClearSans-Medium.ttf') format('truetype'),
  	font-url('/assets/SVG/ClearSans-Medium.svg') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'clearsans';    
  src: url('/assets/EOT/ClearSans-Bold.eot');
  src: url('/assets/EOT/ClearSans-Bold.eot?#iefix') format('embedded-opentype'),
  	font-url('/assets/WOFF/ClearSans-Bold.woff') format('woff'),
  	font-url('/assets/TTF/ClearSans-Bold.ttf') format('truetype'),
  	font-url('/assets/SVG/ClearSans-Bold.svg') format('svg');
  font-weight: 600;
  font-style: normal;
}



