@import 'foundation_and_overrides';

form {
  textarea, input[type='text'] {
    margin-bottom: 1em;
  }

  textarea {
    height: 75px;
  }

  input[type='submit'] {
    @extend .button;
    @extend .round;
  }
}

.btn {
  color: $lightest-background;
  background-color: $main-color;
  display: inline-block;
  margin-bottom: 0;
  font-size: 15px;
  font-weight: bold;
  padding: 8px 15px;
  border: 1px solid $main-color;
  box-shadow: rgba(255, 255, 255, 0.498039) 0px 1px 0px 0px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.498039) 0px 1px 0px 0px inset;
  -moz-box-shadow: rgba(255, 255, 255, 0.498039) 0px 1px 0px 0px inset;

  &:hover {
    color: $lightest-background;
  }

  &.disabled {
    border: 1px solid #ddd;
    background-color: #ddd;
    color: #aaa;
  }
}
