@import 'foundation_and_overrides';

form {
  textarea, input[type='text'] {
    margin-bottom: 1em;
  }

  textarea {
    height: 75px;
  }

  input[type='submit'] {
    @extend .button;
    @extend .round;
  }

}

.btn-theme {
   color: #ffffff;
   background-color: $main-color;
   border-color: transparent;
   display: inline-block;
}

.btn {
   margin-bottom: 0;
   font-size: 18px;
   font-weight: bold;
   border-radius: 0px;
}
