html { 
  background: url(/assets/flagforweb_03.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

 
.open-letter {
  margin: 4em 2em 0 0;
  background-color:rgba(252,248,248,0.5);
  padding: 1em;
  float: right;
  font-family: helvetica;
  width: 26em;
  .salutation {
    font-weight: bold;
    text-align: left;
    font-size: 3.2em;
    color: white;
  }
  .letter-text {
  	font-size: 1.2em
  }
} 

.email-form {
  .big-input-field {
    width: 15em;
    height: 2em;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 100%;
  }
}
