html {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.email-form {
  .big-input-field {
    width: 15em;
    height: 2em;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 100%;
  }
}
