@import "variables";

.stripes {
  width: 100%;
  margin-bottom: 26px;
  .alert-stripe {
    border-bottom: solid 3px $alert-color;
  }
  .blank-stripe {
    border-bottom: solid 3px white;
  }
  .primary-stripe {
    border-bottom: solid 3px $primary-color;
  }
}

.light-background {
  background-color: $light-background;
}

