@import "variables";

.stripes {
  width: 100%;
  &.clear{
    clear: both;
  }

  .alert-stripe {
    border-bottom: solid 3px $alert-color;
  }
  .blank-stripe {
    border-bottom: solid 3px white;
  }
  .primary-stripe {
    border-bottom: solid 3px $primary-color;
  }
}

header {
  padding-bottom: 1.875em;

  .flash {
    padding: 0.5em;
    &.alert {
      background: $alert-color;
    }
    &.notice {
      background: $notice-color;
    }
  }
}

.light-background {
  background-color: $light-background;
}

