@import "variables";

.stripes {
  width: 100%;
  &.clear{
    clear: both;
  }

  .alert-stripe {
    border-bottom: solid 3px $alert-color;
  }
  .blank-stripe {
    border-bottom: solid 3px white;
  }
  .primary-stripe {
    border-bottom: solid 3px $primary-color;
  }
}

header {
  .flash {
    padding: 0.5em;
    &.alert {
      background: $alert-color;
    }
    &.notice {
      background: $notice-color;
    }
  }
}

.light-background {
  background-color: $light-background;
}

.index {
  margin-bottom: 2em;
}

.center {
  margin: 0 auto;
  text-align: center;
}

.title {
  font-size: 2.75em;
  line-height: 1.25em;
  font-weight: bold;
  margin-bottom: 2px;
}

.title-secondary {
  font-size: 1.5625em;
  margin-top: 1em;
  font-weight: bold;
}
