@import 'variables';

html, body {
  margin: 0;
  padding: 0;
  height: 100%;

  #container {
    padding-top: 1em;
    min-height: 100%;
    position: relative;

    #body {
      padding-bottom: 32px;
    }

    #footer {
      width: 100%;
      position: absolute;
      bottom: 0;
      height: 32px;
    }
  }
}

header {
  .flash {
    padding: 0.5em;
    &.alert {
      background: $alert-color;
    }
    &.notice {
      background: $notice-color;
    }
  }
}

.light-background {
  background-color: $light-background;
}

.index {
  margin-bottom: 2em;
}

.center {
  margin: 0 auto;
  text-align: center;
}

.center-block {
  margin: auto auto;
  display: block;
}

.title {
  font-size: 2.75em;
  line-height: 1.25em;
  font-weight: bold;
  margin-bottom: 2px;
}

.title-secondary {
  font-size: 1.5625em;
  margin-top: 1em;
  font-weight: bold;
}

.top-bar {
  padding: 0 15px;
  margin-top: 10px;
}

#footer {
  .top-bar {
    h1, h2, h3, h4, h5, h6 {
      line-height: 2em;
      margin: 0;
      font-weight: 400;
    }
  }
}

#no-margin-or-padding {
  margin: 0px;
  padding: 0px;
}
