/*Common elements*/


body {
  background-color: #000000;
  font-family: "helvetica";
}

.container-border {
  background-color: #000000;
  color: #ffffff;
  font-size: 1.5em;
  padding: .5em 2em 2em 2em; 
  
}

.container {
  background-color: #ffffff;
  padding: 6em;
  color: #5B5C5C;
  font-size: .75em;
  margin-top: .5em;
}

.headline { 
  font-weight: bold;
  font-family: helvetica;
  text-align: center;
  font-size: 6em;

  span {
    color: #000000;
  }
}

.line-one {
  font-size: .5em;
}

.line-two {
  font-size: .5em;
  color: #000000;
}

.email-form {
  text-align: center;
  padding-top: 3em;
}

.big-input-field {
  width: 15em;
  height: 2em;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 100%;
}

// for splash
.links {
  text-align: center;
}

/* for lobbyist.erb */

table {
  margin-top: 3em;
}

td {
  width: 15em;
  padding-left: .5em;
  padding-right: .5em;
  text-align: center;
}

/* effective.erb */
.big-number {
  font-size: 6em;
  font-weight: bold;
  font-family: helvetica;
  color: #5B5C5C;
}

/* lobbyist.erb and organizer.erb */

.ending-tag {
  padding-top: 2em;
  text-align: center;
  font-size: 1.5em; 
}

.ending-tag span {
  color: #000000;
}

button {
  background-color: red;
  font-size: 100%;
}