/*Common elements*/

.row {
  &.top {
    margin-top: 100px;
    margin-bottom: 50px;
  }
  .salutation {
    font-size: 3.2em;
    font-weight: bold;
    text-align: left;
    font-family: "times new roman";
  }
  .letter-text {
    padding-top: 1em;
  }
}

.row.full-width {
  margin: 0;
  max-width: 100%;
}
