#organization-page {
  #campaigns-list {
    h3, a, #edit-links {
      display: inline-block
    }
    #edit-links a {
      padding-right: 1.5em;
      margin-bottom: 1em;
    }
    h3 {
      padding-right: 1.5em;
    }
  }
}
