@import "foundation/foundation-global";
$row-width: 83em;
$topbar-bg: #f2f2f2;
$topbar-dropdown-bg: #f2f2f2;
$topbar-height: 100%;
$main-color: rgb(255,126,0);
$button-border-color: darken($main-color, 10%);
@import 'foundation';

body {
  background-color: #f2f2f2;
}


.btn-theme {
   color: #ffffff;
   background-color: $main-color;
   border-color: transparent;
   display: inline-block;
}

.btn {
   padding: 10px 30px;
   margin-bottom: 0;
   font-size: 18px;
   font-weight: bold;
   border: 5px solid transparent;
   border-radius: 0px;
}

#dear-internet {
  color: #5B5C5C;
  padding: 4em 4em 4em 4em;
  img {
    padding-right: 1em;
    padding-bottom: 2em;
  }
  .open-letter {
    margin-top: -6px;
    .salutation {
      font-weight: bold;
      text-align: left;
      font-family: "times new roman";
      font-size: 3.2em;
    }
    .letter-text {
      padding-top: 1em;
    }
  }
}

#mock-letter-splash {
  background-color: #222222;
  img#large-screen-image {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  #small-screen-image { 
      display: none;
  }

  .open-letter {
    position: relative;
    margin: 4em 2em 0 0;
    background-color:rgba(252,248,248,0.75);
    padding: 1em;
    float: right;
    font-family: helvetica;
    width: 26em;
    h1.salutation {
      font-weight: bold;
      text-align: left;
      font-size: 3.2em;
      color: white;
      margin-top: .1em;
      margin-bottom: .1em;
    }
    .letter-text p {
    	font-size: 1.2em;
      line-height: 1.4em;
    }
  } 

  form#new_email_subscriber {
    input#email_subscriber_email_address {
      width: 66%;
      height: 3em;
      padding-left: 1em;
      padding-right: 1em;
      font-size: 100%;
      display: inline-block;
    }
    div {
      display: inline;
    }
  }

  @media only screen and (max-width: 620px) {
    background-color: #222222;

    #large-screen-image {
      display: none
    }

    #small-screen-image { 
      display: block;
      text-align: center;
      img {
        width: 100%;
      }
    }
    .open-letter {
      float: none;
      margin: auto auto;
      margin-top: 1em;
      width: 100%;
    }
  } 
}

#organizer-splash {
 font-weight: 300;
 font-size: 16px;
 color: #555;

 -webkit-font-smoothing: antialiased;
 -webkit-overflow-scrolling: touch;


  /* Titles */
  h1, h2, h3, h4, h5, h6 {
     font-family: Helvetica;
     font-weight: 300;
     color: $main-color;
  }


  /* Paragraph & Typographic */
  p {
     line-height: 28px;
     margin-bottom: 25px;
  }

  .centered {
     text-align: center;
  }

  .mt {
     margin-top: 40px;
  }

  /* Links */
  a {
     color: $main-color;
     word-wrap: break-word;

     -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
     -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
     -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
     -o-transition: color 0.1s ease-in, background 0.1s ease-in;
     transition: color 0.1s ease-in, background 0.1s ease-in;
  }

  a:hover,
  a:focus {
     color: #7b7b7b;
     text-decoration: none;
     outline: 0;
  }

  a:before,
  a:after {
     -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
     -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
     -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
     -o-transition: color 0.1s ease-in, background 0.1s ease-in;
     transition: color 0.1s ease-in, background 0.1s ease-in;
  }

  hr {
     display: block;
     height: 1px;
     border: 0;
     border-top: 1px solid #ccc;
     margin: 1em 0;
     padding: 0;
  }

  .btn-theme {
     color: #ffffff;
     background-color: $main-color;
     border-color: transparent;
  }

  .btn {
     padding: 10px 30px;
     margin-bottom: 0;
     font-size: 18px;
     font-weight: bold;
     border: 5px solid transparent;
     border-radius: 0px;
  }

  .lead {
     letter-spacing: 1px;
  }

  .top-bar {
     font-weight: 800;
     font-size: 14px;
     padding-top: 15px;
     padding-bottom: 15px;
     a#contact-button {
        background: $main-color;
        width: 100%;
        padding: 2em;  

     }
  }

  /* hello */
  #hello {
     width: 100%;
     padding-top: 100px;
     padding-bottom: 250px;
     h1 {
        font-size: 90px;
        font-weight: 700;
        letter-spacing: 3px;
     }
     h2 {
        color: #c0c0c0;
        font-weight: 400;
        font-size: 2em;
     }
     .call-tool {
        margin-top: 3em;
        button {
           background-color: $main-color;
           width: 284px;
        }
     }
  }

  #orange {
    background-color: $main-color;
    padding-top: 50px;
    padding-bottom: 40px;
    margin-bottom: 0px;
    h3 {
       color: white;
       font-weight: 400;
       margin-bottom: 20px;
       font-weight: bold;
    }
    p {
      color: white;
      font-weight: 400;
      font-size: 20px;
    }
  }

  #cta {
    padding-top: 50px;
    input {
      display: inline-block;
      width: 68%%;
      height: 3em;
      padding-left: 1em;
      padding-right: 1em;
      font-size: 100%;
    }
  }
}
