@import 'variables';

#splash {
  .row {
    max-width: 83em;
    padding: 0 0.9375em;
  }
  #phone {
    margin-bottom: 40px;
  }
  background-color: #333f50;
  #organizer-splash {
    background-image: url( "phone_background.png");
    background-repeat: no-repeat;
    background-position: 90% 33%;
    background-color: #333f50;
    font-weight: 300;
    font-size: 16px;
    color: rgb(251,181,9);

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;

    .centered {
      text-align: center;
    }
    .no-margin {
      margin: 0;
    }

    h1, h2 {
      color: rgb(251,181,9);
    }

  
    /* Paragraph & Typographic */
    p {
       line-height: 28px;
    }

    

    /* Links */
    a {
       color: rgb(251,181,9);
       word-wrap: break-word;

       -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
       -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
       -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
       -o-transition: color 0.1s ease-in, background 0.1s ease-in;
       transition: color 0.1s ease-in, background 0.1s ease-in;
    }

    a:hover,
    a:focus {
       color: #7b7b7b;
       text-decoration: none;
       outline: 0;
    }

    a:before,
    a:after {
       -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
       -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
       -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
       -o-transition: color 0.1s ease-in, background 0.1s ease-in;
       transition: color 0.1s ease-in, background 0.1s ease-in;
    }

    .btn-theme {
       color: #ffffff;
       background-color: rgb(251,181,9);
       border-color: transparent;
    }

    .btn {
       padding: 10px 30px;
       margin-bottom: 0;
       font-size: 18px;
       font-weight: normal;
       border-radius: 0px;
    }

    .header {
      margin-top: 1em;
      h2 {
        margin-top: .3em;
        font-weight: bold;
      }
      .logo {
        padding-top: 0;
      }
      .signup-box {
        background-color: #4f5b6d; 
      }
      form#new_email_subscriber {
        text-align: center;
        margin: 1em 0 0;
        input#email_subscriber_email_address {
          width: 68%;
          padding-left: 1em;
          padding-right: 1em;
          font-size: 100%;
          display: inline-block;
        }
        div {
          display: inline-block;
        }
        input.btn-theme {
          padding: 8px 15px;
          font-size: 15px;
        }
      }
    }

    /* hello */
    #hello {
       width: 100%;
       padding-top: 100px;
       padding-bottom: 200px;
       h1 {
          font-size: 4em;
          font-weight: 700;
          letter-spacing: 3px;
       }
       h2 {
          color: rgb(251,181,9);
          font-weight: 400;
          font-size: 1.8em;
       }
    }

    #how-works {
      background-color: #4f5b6d; 
      padding-top: 0;
      padding-bottom: 0;
      margin-bottom: 0px;
      .container {
        padding-top: 2em;
      }
      .columns {
        padding-top: 0;
      }
      h2 {
         color: white;
         font-weight: 400;
         margin-top: 0;
      }
      img {
        padding-top: 1em;
        width: 300px;
      }
      
      p {
        color: white;
        font-weight: 400;
        font-size: 20px;
        padding-top: 1em;
      }
      li {
        text-align: left;
      }
    }

    #cta {
      text-align: center;
      padding-top: 2em;
      p {
        letter-spacing: 1px;
        margin-bottom: 1em;
      }
      input {
        display: inline-block;
        width: 64%;
        height: 3em;
        padding-left: 1em;
        padding-right: 1em;
        font-size: 100%;
      }
      div {
        display: inline-block;
      }
      input.btn-theme {
        padding: 8px 15px;
        font-size: 15px;
        width: 100%;
        font-weight: normal;
      }
    }

    @media only screen and (max-width: 620px) {
      margin-top: -16px;
      .header {
        h2.logo { font-size: 1.8em; }
        .signup-box { display: none; }
      }
      #hello {
        padding-bottom: 100px;
        h1 { font-size: 1.8em; }
        h2 { font-size: 1em; }
      }
      #orange{
        ol { padding-left: 15px; }
        li, p { font-size: 1em; }
        p { line-height: 1.6; }
      }

      #cta {
        p.lead { font-size: 1em }
        input {
          width: 100%;
        }
      }
    }
  }

}
