#ps-flash-grandparent {
  margin: 0 auto;
  position: absolute;
  visibility: hidden;
  z-index: 99;
  top: 50px;
  left: 10%;
  width: 80%;

  #ps-flash-parent {
    margin: 0 auto;
    padding: 20px;

    #ps-flash-instruction {
      text-align: center;
      vertical-align: top;
    }

    #__connectionFlash__ {
      height: 138px !important;
    }

    #ps-flash-close {
    }

    #ps-flash-instruction,
    #__connectionFlash__,
    #ps-flash-close {
      display: block;
      margin: 20px auto;
    }
  }
}
