$primary-color: #0e4a8d;
$secondary-color: #777777;
$alert-color: #e04e39;
$notice-color: #ffff5e;
$success-color: #5da423;
$light-background: #e9edea;
$lightest-background: #fff;

// spalsh page variables
$row-width: 83em;
$topbar-bg: #f2f2f2;
$topbar-dropdown-bg: #f2f2f2;
$topbar-height: 100%;
$main-color: rgb(255,126,0);
$button-border-color: darken($main-color, 10%);
