$primary-color: #0e4a8d;
$secondary-color: #777777;
$alert-color: #e04e39;
$notice-color: #ffff5e;
$success-color: #5da423;
$light-background: #e9edea;
$lightest-background: #fff;
$header-font-color: #4b4f4f;
$body-font-color: #4b4f4f;
$row-width: 62.5em;
$cta-background: #a5b9d6;
$body-font-family: 'Open Sans', Helvetica, Arial, sans-serif;
$body-font-weight: 400;
$header-font-family: 'Open Sans', Helvetica, Arial, sans-serif;
$header-font-weight: 600;
$button-font-family: 'Open Sans', Helvetica, Arial, sans-serif;;
$button-font-weight: 600;

// splash page variables
$topbar-bg: #f2f2f2;
$topbar-dropdown-bg: #f2f2f2;
$topbar-height: 100%;
$main-color: rgb(9, 50, 95);
$button-border-color: darken($main-color, 10%);
